.container {
    background: beige;
    height: 100vh;

     /* 컨테이너 박스를 flex box 만들기  
     첫번째 display 속성에 flex 속성값을 적용
     두번째 flex-direction 속성에 기준축을 적용한다.*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

/* body,html {
    background: beige;
    height: 100%;
} */
.item {
    width: 40px; height: 40px;
    border: 1px solid black;
}
.item1{background-color: #adc8e2;}
.item2{background-color: #f2b4b4;}
.item3{background-color: #8ded97;}
.item4{background-color: #bce41a;}
.item5{background-color: #f09cba;}
.item6{background-color: #6fb62d;}
.item7{background-color: #b64545;}
.item8{background-color: #c146cc;}
.item9{background-color: #7fe787;}
.item10{background-color: #d13a53;}


/* height:100%
vh(view height) 화면에 보이는 공간을 기준
flex-direction: 기준축을 정의
속성값: row, row-reverse, column, column-reverse
justify-content: 중심축에서 아이템의 배치를 담당 
속성값: flex-start, flex-end, center,space-around 
align-items: 반대축에서 아이템 배치하는 속성*/