*{
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181818;
    font-size: 1.2rem;
    font-weight: bold;
}

.color1{background-color: #d7bee2;}
.color2{background-color: #96d0df;}
.color3{background-color: #9bd68d;}
.color4{background-color: #f8faa3;}
.color5{background-color: #f37d59;}

/* 
box-sizing은 요소의 전체 너비와 높이를 어떻게 계산하는지를 설정 
border-box, content-box
*/